@model IEnumerable<Proprietario>

@{
	ViewData["Title"] = "Lista de Proprietários";
}

<h1>@ViewData["Title"]</h1>

<link href="~/css/local/Proprietario.css" rel="stylesheet" />

<p style="margin-bottom: 60px;">
	<a class="fa-pull-right btn btn-outline-primary fa fa-plus" asp-action="Create"> Novo</a>
</p>

<table class="table table-hover table-striped">
	<thead class="thead-dark">
		<tr>
			<th class="colNome">@Html.DisplayNameFor(model => model.Nome)</th>
			<th class="colDocumento">@Html.DisplayNameFor(model => model.Documento)</th>
			<th class="colEmail">@Html.DisplayNameFor(model => model.Email)</th>
			<th class="colCep">@Html.DisplayNameFor(model => model.Endereco)</th>
			<th class="colStatus">@Html.DisplayNameFor(model => model.CodStatus)</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@if (Model != null && Model.Count() > 0)
		{
			foreach (var item in Model)
			{
				<tr>
					@{ var status = (item.CodStatus == 1 ? "Ativo" : "Cancelado");}
					<td>@Html.DisplayTextFor(modelItem => item.Nome)</td>
					<td>@Html.DisplayTextFor(modelItem => item.Documento)</td>
					<td>@Html.DisplayTextFor(modelItem => item.Email)</td>
					<td>@Html.DisplayTextFor(modelItem => item.Endereco)</td>
					<td>@Html.DisplayTextFor(modelItem => status)</td>
					<td class="text-right">
						<a asp-action="Detail" class="btn btn-info" asp-route-id="@item.Id" title="Visualizar"><span class="fa fa-search"></span></a>
						<a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id" title="Editar"><span class="fa fa-pencil-alt"></span></a>
						<a id="deleteItem" class="deleteItem btn btn-danger" data-target="#basicModal" data-toggle="modal" data-path="@Url.Action("Delete", "Proprietario", new { id = item.Id })" title="Deletar"><span class="fa fa-trash"></span></a>
					</td>
				</tr>
			}
		}
		else
		{
			<tr>
				<td colspan="6" class="text-center">
					<span><strong style="color: red">Sem dados</strong></span>
				</td>

			</tr>
		}
	</tbody>
</table>

<partial name="../Shared/_Delete" />

@section Scripts {
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/js/local/deleteItemScript.js"></script>
}